@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Grotesk;
    src: url('./assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf');
}

body {
    font-family: Grotesk ,'Times New Roman', Times, serif;
    font-weight: 500;
}
@layer base {
    label{
        @apply font-semibold uppercase text-[hsl(278,68%,11%)];
    }
    input{
        @apply mt-1 placeholder-[hsl(270,3%,87%)] w-full rounded-lg border border-[hsl(270,3%,87%)] py-1 px-2 ; 
    }
    input:focus {
        border-radius: 0.25rem;
        outline: none;
        border: 2px solid transparent;
        background-image: linear-gradient(white, white), 
                    linear-gradient(to right, hsl(249,99%,64%), hsl(278, 94%, 30%));
        background-origin: border-box;
        background-clip: padding-box, border-box;

    }
    button{
        @apply w-full text-center my-5 text-white py-2 rounded-lg bg-[hsl(278,68%,11%)];
    }
}